body, html {
    height: 100%;
    overflow: hidden; /* Hide scrollbars */
  }
  
  * {
    box-sizing: border-box;
  }
  
  .bg-image {
    /* The image used */
    background-image: url('bgg.jpeg') !important;
    transform: scale(1.1) !important;
  
    /* Add the blur effect */
    filter: blur(8px);
    -webkit-filter: blur(8px);
  
    /* Full height */
    height: 100%;
  
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  
  /* Position text in the middle of the page/image */
  .bg-text {
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
  }

  #d1{
    margin-top: 30px;
      width: 75%;
      height: 80%;
  }

  h3{
      text-decoration: underline white;

  }
  
  table {
    margin-top: 40px;
    margin-right: 50px;
    /* margin: auto; */
    caption-side:     bottom;
    border-collapse:  collapse;
    position: relative;
    /* right: 30px; */
    /* font-size: 1.3em; */
    font-weight: normal;
    font-size: 1.1em;
  }

  td, th {
    padding-bottom: 15px;
    padding-top: 10px;
    padding-left: 10px;
    text-align: center;
    }
    
input[type=submit] {
  position: relative;
  top: 25px;
  left: 20em;
  width: auto !important;
  

}
input{
  position: relative;
  align-items: center;
  width: 14em;
}

/* input[type=text] {
  width:            15em;
} */