{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/about.css" >
{% endblock %}
{% block body %}
<div class="text-center" id="a">
  <h1 id="b">About Beds4Meds</h1>
  <h3>What it is:</h3>
  <p id="aa">
  A comprehensive database-driven interface that effectively eradicates the COVID-19 Hospital Bed availability crisis in metropolitan cities.
  </p>
  <h3>Team:</h3>
  <ul id="aa">
  <li>4NI18CS025	H G Saatvik</li> 
  <li>4NI18CS014	Balaji S</li> 
  <li>4NI18CS026	Harisha S</li> 
  </ul>
  <h3>Project Synopsis:</h3> 
  <p id="aa">
    
    One of several problems caused by COVID-19 is the difficulty in finding suitable hospitals/beds for COVID patients where they can receive suitable treatment without risking further spread/infections. This issue, that arose due to the lack of preparation of the government officials, is the main focus of our project.
    
    We believe that a proper documentation of the medical facilities that exist in a geographical area along with the relevant details such as occupancy, availability of special functions etc would go a long way in resolving this crisis. 
    
    When a person gets infected with the virus, it still is a chaotic situation. He/She has absolutely no clue as to what is the next step to be taken, where to go for treatment/which medical facilities are closer/more economical etc. The sudden surge in cases also meant that the existing medical institutions were deemed fully exhausted and new treatment centres were set up. Where these camps were located and how to get the allotment for them no one knew.
  </p> 
  <h3>Our Solution:</h3>
  <p id="aa">
    We aim to solve the above elucidated problems by designing an interface that makes it clear to a person where the closest COVID treatment facility is, what is the cost to be incurred, who to contact to get admitted and whether an ambulance is available etc.
    
    By maintaining a detailed count of the hospitals/recovery centres in a ward/across the city, the number of beds and dynamic updation of the same. In addition the database takes care of smaller additional problems like Ventilator availability for senior citizens, estimated number of beds available and even predicts when the next vacancy is likely to open up based on average recovery time. 
    
    Needless to say, such a comprehensive solution would be immensely beneficial to health department officials too as their management of the pandemic would be made exponentially easier.
    
    In conclusion, by implementing a database management system that connects to a dynamic user interface, we aim to eradicate the dilemma/confusion for the urban Indian citizen as to where to go and what to do once he is infected by the virus.
  </p>
</div>
{% endblock %}