{% extends 'base1.html' %}
{% block head %}
<link rel="stylesheet" href="static/admin.css" >
{% endblock %}
{% block body %}
<div class="bg-image"></div>
   {% with messages = get_flashed_messages() %}
   {% if messages %}
   {% for msg in messages %}
   <div class="alert" id="x">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <h6>{{msg}}</h6>
   </div>
   {% endfor%}
   {% endif %}
   {% endwith %}
<div class="bg-text" id="b">
  <h2>Welcome Admin</h2>
  <div id="c">
    
  <h4>Please select what you would like to do:</h4>
    <a href="/add_patient" class="btn btn-outline-light btn-lg">Add a Patient</a> 
    <a href="/view_patient" class="btn btn-outline-light btn-lg">View Patients</a>  
  </div>
</div>




</form>
 
 {% endblock %}