{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/final.css" >
{% endblock %}
{% block body %}

<div class="bg-image"></div>
<div class="bg-text" id='d1'>
<h1>Hospital Details</h1>
<table id="scroll">
<tr><td>Hospital id</td><td>{{the_id}}</td></tr>
<tr><td>Hospital name</td><td>{{the_name}}</td></tr>
<tr><td>Hospital contact no</td><td>{{the_cno}}</td></tr>
<tr><td>Hospital address</td><td>{{the_addr}}</td></tr>
<tr><td>Hospital ward no</td><td>{{the_wno}}</td></tr>
<tr><td>Hospital ambulance service</td><td>{{the_ambs}}</td></tr>
</table>



{%endblock%}