{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/final.css" >
{% endblock %}
{% block body %}

<div class="bg-image"></div>
<div class="bg-text" id='d1'>
<h1>Hospital Details</h1>
<table id="scroll">
<tr><td>Hospital id</td><td>{{the_id}}</td></tr>
<tr><td>Hospital name</td><td>{{the_name}}</td></tr>
<tr><td>Hospital contact no</td><td>{{the_cno}}</td></tr>
<tr><td>Hospital address</td><td>{{the_addr}}</td></tr>
<tr><td>Hospital ward no</td><td>{{the_wno}}</td></tr>
<tr><td>Hospital ambulance service</td><td>{{the_ambs}}</td></tr>
<tr><td>Amount to be carried</td><td><b>{{the_cost}}</b></td></tr>
</table>
<p><b>Documents</b>: Aadhaar Card, Medical History documents.
Others: Your phone, charger, wallet and a few clothes.</p>

<p><b>Things to do</b>: 
Stay away from everyone (including family) 
Instruct a close one to notify your work & close family.
Cancel all commitments for the next 15 days to be safe.
Instruct a close one to pay your bills for the month.
Take an ambulance or contact hospital to arrange transport.
Be calm and don't panic!</p>



{%endblock%}