{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/login.css" >
{% endblock %}
{% block body %}
<div class="bg-image"></div>

   {% with messages = get_flashed_messages() %}
   {% if messages %}
   {% for msg in messages %}
   <div class="alert" id="x">
   <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
   <h6>{{msg}}</h6>
   </div>
   {% endfor%}
   {% endif %}
   {% endwith %}
<div class="bg-text" id="b">
    <h2>Admin Login</h2>
    <form action='/update' method='POST'>
    
    <table>
    <tr><td>Username:</td><td><input name='uname' type='TEXT'></td></tr>
    <tr><td>Password:</td><td><input name='psswd' type='password'></td><tr>
    <tr><td><input type='submit' name='submit' value='Login' class="btn btn-outline-light btn-md" ></td><td id="move">Not a member yet?<a href="/register" id="q" class="btn btn-outline-light btn-md" >Register now!</td></tr >
    
    </table>
</div>




</form>
 
 {% endblock %}