{% extends 'base.html' %}
{% block head %}
<link rel="stylesheet" href="static/search1.css" >
{% endblock %}
{% block body %}

<div class="bg-image"></div>
<div class="bg-text" id='d1'>
<h1>Patient list</h1>
<table id="scroll" >
       <tr>
            {%for row_title in row_titles%}
            <th>{{row_title}}</th>
            {% endfor%}
       </tr>

{% for log_row in the_data%}
<tr>
{% for i in log_row %}
<td>{{i}}</td>
{% endfor %}
</tr>
{%endfor %}
</table>
<form method='POST' action='/discharge'>
<p>Enter the patient id of whom you want to discharge:<input name='pid' type='text' width=20></p>

<input type='submit' name='submit' value='Submit' class="btn btn-outline-light btn-lg">
</form>
{% endblock %}