{% extends 'base.html' %}
{% block head %}

{% endblock %}
{% block body %}

<div class="bg-image"></div>
<div class="bg-text" id='d1'>
<table id="scroll">
       <tr>
            {%for row_title in row_titles%}
            <th>{{row_title}}</th>
            {% endfor%}
       </tr>

{% for log_row in the_data%}
<tr>
{% for i in log_row %}
<td>{{i}}</td>
{% endfor %}
</tr>
{%endfor %}
</table>
<table id="s">
<form method='POST' action='/discharge'>
<tr><td>Please enter the patient id of whom you want to discharge:</td><td><input name='pid' type='text' width=20></td></tr>
</table>
<tr><td><input type='submit' name='submit' value='Submit' class="btn btn-outline-light btn-lg"></td></tr >
</form>
{% endblock %}